@import url("https://fonts.googleapis.com/css2? family= Heebo:wght@300 & display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
  background-image: url(../img/pipfondo.png);
}

.cabeza {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(35, 60, 130);
}

.redes {
  margin-top: 50px;
  margin-bottom: 50px;
}

.icon {
  padding-left: 75px;
  padding-right: 75px;
}

.logo1 {
  width: 210px;
  height: 147px;
}

footer {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(35, 60, 130);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  list-style: none;
}

a {
  text-decoration: none;
}

.bocha:hover {
  transform: scale(120%);
  transition-property: all;
  transition-duration: 2s;
}

.gustos {
  text-align: center;
  font-size: x-large;
}

.vainilla {
  grid-area: vainilla;
}

.flanddl {
  grid-area: flan;
}

.dulcedeleche {
  grid-area: dl;
}

.dlg {
  grid-area: dlg;
}

.chocolate {
  grid-area: choco;
}

.tramontana {
  grid-area: tramontana;
}

.cookies {
  grid-area: cookies;
}

.cremadelcielo {
  grid-area: cremacielo;
}

.mascarpone {
  grid-area: mascarpone;
}

.frutilla {
  grid-area: frutilla;
}

.bananita {
  grid-area: bananita;
}

.limon {
  grid-area: limon;
}

.gustos-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 100px;
  gap: 30px;
  background-color: rgba(235, 235, 235, 0.496);
}

.gustos {
  margin-top: 40px;
  display: grid;
  grid-template-areas: "vainilla flan dl" "dlg choco tramontana " "cookies cremacielo mascarpone" "frutilla bananita limon";
  gap: 20px;
}

.bocha {
  padding: 10px;
}

.flexgustos {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: rgb(35, 60, 130);
}

.historia {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.maptitle {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.title2 {
  margin-top: 40px;
  font-size: 40px;
  color: rgb(35, 60, 130);
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.map {
  width: 80%;
  border-radius: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.456);
}

.heladeria-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;
}

.heladeria-container2 {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;
}

.foto1 {
  width: 40%;
  margin: auto;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.foto2 {
  width: 40%;
  margin: auto;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.text {
  width: 50%;
  text-align: center;
  font-size: x-large;
  margin: 20px;
  color: rgb(35, 60, 130);
  font-family: "Josefin Sans", sans-serif;
}

.title {
  margin-left: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  color: rgb(35, 60, 130);
}

.texto1 {
  padding: 20px;
  color: rgb(35, 60, 130);
}

.contactocontainer {
  display: flex;
}

.suscripcion {
  color: rgb(35, 60, 130);
  text-align: center;
  font-size: 100px;
  font-family: "Josefin Sans", sans-serif;
}

.contacto1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: x-large;
  font-family: "Jost", sans-serif;
  text-align: center;
}

.p3 {
  font-size: 50px;
}

.p4 {
  font-size: 29px;
}

.contacto2 {
  width: 45%;
  padding: 30px;
  margin: auto;
}

.consulta {
  width: 100%;
  padding-bottom: 100px;
  border-radius: 10px;
  border: none;
  background-color: rgba(156, 156, 156, 0.198);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.456);
}

.registro {
  font-size: x-large;
  font-family: "Josefin Sans", sans-serif;
}

.control {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: rgba(156, 156, 156, 0.198);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.456);
}

.enviar {
  width: 100%;
  height: 2em;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(35, 60, 130);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.456);
}

.imgc {
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.456);
}

.video-container {
  margin: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video {
  border-radius: 40px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.h2 {
  padding-bottom: 15px;
  padding-left: 15px;
  color: rgb(35, 60, 130);
  text-shadow: 2px 2px 2px rgba(135, 135, 135, 0.365);
  font-family: "Josefin Sans", sans-serif;
}

.slider {
  width: 98%;
  margin: auto;
  overflow: hidden;
  padding-top: 50px;
  border-radius: 40px;
  background-color: rgb(242, 242, 242);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.slider ul {
  display: flex;
  text-align: center;
  padding: 0;
  width: 350%;
  -webkit-animation: cambio 30s infinite;
          animation: cambio 30s infinite;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 60%;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -250%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -250%;
  }
}
@-webkit-keyframes cambio2 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}
@keyframes cambio2 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}
.slider2 {
  width: 98%;
  height: 50%;
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 50px;
  border-radius: 40px;
  background-color: rgb(242, 242, 242);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.ul1 {
  display: flex;
  text-align: center;
  padding: 0;
  width: 200%;
  -webkit-animation: cambio2 20s infinite;
          animation: cambio2 20s infinite;
}

.li1 {
  width: 40%;
  list-style: none;
}

.img1 {
  width: 60%;
  border-radius: 40px;
}

@media (max-width: 1009px) {
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .gustos {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-areas: "vainilla flan " "dl dlg" "choco tramontana " "cookies cremacielo" "mascarpone frutilla" "bananita limon";
    justify-items: center;
    gap: 20px;
  }
  .gustos .sabor {
    width: 80%;
  }
  .flexgustos {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .video-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .division {
    padding: 30px;
  }
}
@media (max-width: 715px) {
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .gustos {
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-areas: "vainilla" "flan " "dl" "dlg" "choco" "tramontana " "cookies" "cremacielo" "mascarpone" "frutilla" "bananita" "limon";
    gap: 20px;
  }
  .flexgustos {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .video-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .icon {
    padding-left: 35px;
    padding-right: 35px;
  }
  .heladeria {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 5px 25px 5px;
    color: white;
  }
  .texto1 {
    padding: 10px;
  }
  .division {
    padding: 20px;
  }
  .suscripcion {
    padding: 30px;
    font-size: 60px;
  }
}
.carusel-container {
  height: 20%;
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 40px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.producto {
  border-radius: 40px;
}

.nav-link {
  font-family: "Josefin Sans", sans-serif;
}

.compania {
  color: white;
}