@import url('https://fonts.googleapis.com/css2? family= Heebo:wght@300 & display=swap');

* {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;



}

.cabeza {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    position: sticky;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 50px;
    padding: 20px;

}

.suscripcion {
    color: rgb(0, 11, 113);
    background-color: white;
    padding: 100px;
    text-align: center;
    font-size: 100px;

}

footer {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(0, 11, 113);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    position: absolute;

}

.bocha:hover {
    transform: scale(120%);
    transition-property: all;
    transition-duration: 2s;
}

.division {
    width: 400px;
    background-color: rgb(0, 11, 113);
    padding: 30px;
    margin: auto;
    border: solid rgb(132, 132, 132);
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px black;

}

.redes {
    margin: 40px;
    height: 30%;
}

.gustos {
    text-align: center;
    font-size: x-large;
}
.video-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.producto{
    display: flex;
    justify-content: center;
}



.control {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 10px;

}

.consulta {
    width: 100%;
    padding-bottom: 100px;
    border-radius: 5px;
}

.registro {
    font-size: x-large;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

.heladeria {
    margin-top: 65px;
    display: flex;
    background-color: rgb(0, 11, 113);
    padding: 25px;
    color: white;
}

.texto1 {
    padding: 40px;
}

.vainilla {
    grid-area: vainilla;
}

.flanddl {
    grid-area: flan;
}

.dulcedeleche {
    grid-area: dl;
}

.dlg {
    grid-area: dlg;
}

.chocolate {
    grid-area: choco;
}

.tramontana {
    grid-area: tramontana;
}

.cookies {
    grid-area: cookies;
}

.cremadelcielo {
    grid-area: cremacielo;
}

.mascarpone {
    grid-area: mascarpone;
}

.frutilla {
    grid-area: frutilla;
}

.bananita {
    grid-area: bananita;
}

.limon {
    grid-area: limon;
}
.gustos-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gustos {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        "vainilla flan dl"
        "dlg choco tramontana "
        "cookies cremacielo mascarpone"
        "frutilla bananita limon";
    gap: 20px;
}

.flexgustos {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.logo1{
    width: 150px;
    height: 105px;
}
@media (max-width:946px) {
    .gustos {
        margin-top: 50px;
        display: grid;
        grid-template-areas:
            "vainilla flan "
            "dl dlg"
            "choco tramontana "
            "cookies cremacielo"
            "mascarpone frutilla"
            "bananita limon";
        gap: 20px;
    }
    
    .flexgustos {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .video-container{
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}