.carusel-container{
    height: 20%;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel{
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 40px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
}
.producto{
    border-radius: 40px;
}
.nav-link{
    font-family: 'Josefin Sans', sans-serif;
}